<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/webuploader/0.1.5/webuploader2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/plugin/LoderStarLib/css/selectTree.css}"/>
    <title></title>
</head>
<body>

<!--<div class="container">
    <div class="cerDiv">
        <p class="cer">身份证件：</p>
        <div id="identity"></div>
        <div class="subBut">
            <span onclick="webUpload('identity')" class="uploadImg">上传图片</span>
        </div>
    </div>
    <div class="cerDiv">
        <p class="cer">用户头像：</p>
        <div id="logo"></div>
        <div class="subBut">
            <span onclick="webUpload('logo')" class="uploadImg">上传图片</span>
        </div>
    </div>
    <div class="cerDiv">
        <p class="cer">学历证书：</p>
        <div id="education"></div>
        <div class="subBut">
            <span onclick="webUpload('education')" class="uploadImg">上传图片</span>
        </div>
    </div>
</div>-->

<input id="equ_category_small"  name="equ_category_small" type="text" class="form-control"  />

</body>
<script type="text/javascript" th:src="@{/static/plugin/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/plugin/LoderStarLib/js/selectTree.js}"></script>
<script type="text/javascript">



</script>
</html>

